
      .slider{
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
      }
      .slider div{
        flex-shrink:0;
        width:85px;
        height:85px;
      }
      .slider img{
      width:70px;
      border-radius:15px;
      margin:5px;
      }
      .screenshot{
        display:flex;
        overflow-x: auto;
        -webkit-overflow-scrolling:touch;
      }
      .screenshot div{
        flex-shrink:0;
        width:250px;
        height:515px;
      }
      .screenshot img{
      width:230px;
      border-radius:20px;
      margin:5px;
      }      
      .popup{
      border-top-left-radius: 30px;
      border-top-right-radius:30px;
      margin-top:40px;
      }
      .popup-close{
      padding-top:10px;
      margin:0;
      padding-right: 12.5px;
      }
      .card-expandable{
      border-radius:30px;
      }
      .item-media img{
      width: 60px;
      height: 60px;
      border-radius:23.3% 
      
      }
      .screenshot img{
      width:230px;
      border-radius:20px;
      margin:5px;
      }
      .placeholder{
      border-radius:11px;
      border-width:1px;
      border-color:grey;
      }
      .searchbar-disable-button{
      display: block; 
      margin-right: -52px
      }
      .col-100{
      margin-top:16px;
      
      }
      .col-50{
      margin-top:16px;
      }
      .col-50 i{
      font-size:20px
      }
      .col-100 i{
      font-size:25px
      }
      .button-raised{
      border-radius: 10px;
      }
      .button-large{
      border-radius: 15px;
      }
      .tabbar-label{
      font-size:8px;
      }             
      .get{
      background-color: #3E84F6; width: 60px; height: 28px; border-radius: 30px; text-align: center; line-height: 27.5px; font-weight: bold; font-size: 1.17em; box-sizing: border-box; color: white; display: inline-block; vertical-align: text-bottom; margin-top: 8px; margin-bottom: 5px;
      }
      .bg{
      height:auto;
      } 
      .toolbar-bottom{
      border-top-left-radius:30px;
      border-top-right-radius:30px;
      }
      .tab-link-highlight{
      width: 27%;
      transform: translate3d(0%, 0px, 0px);
      }
      